<nav>
  <%= link_to image_tag('home-button.png',width: 50), root_path%>
  <%= link_to image_tag('about-button.png',width: 50), about_path%>
</nav>
<%= image_tag'about-banner.png'%>
<h1>Info:</h1>
<p>Just a simple place for simple facts.
we dont try to stir up any trouble and we just try to keep it real
with our users
we hope on dat all our facts are viewed world wild!</p>
